<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GM-Vue</title>
    <link rel="stylesheet" type="text/css" href="/webpack-dev-file/css/app.css">

    <style>
        .grid-main {
            height: calc(100vh - 64px - 57px);
        }
    </style>
</head>
<body>
<div id="app">
    <section class="search-area">
        <div class="sa-ele">
            <label class="se-title">名称:</label>
            <input class="se-con" v-model="formData.title"/>
        </div>
        <div class="sa-ele">
            <label class="se-title">内容:</label>
            <input class="se-con" v-model="formData.content"/>
        </div>
        <div class="sa-ele">
            <button class="search-action" @click="onSearch()">搜索</button>
            <button class="reset-action" @click="onReset()">重置</button>
        </div>
    </section>
    <section class="grid-main">
        <grid-manager v-bind:option="option" :callback="callback" ref="grid"></grid-manager>
    </section>

    <section class="bottom-bar">
        <button id="init-gm" @click="onInit()" v-bind:disabled="initDisabled">init</button>
        <button id="destroy-gm" @click="onDestroy()" v-bind:disabled="destroyDisabled">destroy</button>
    </section>
</div>
<script src="/webpack-dev-file/js/app.js"></script>
</body>
</html>




